* {
	box-sizing: border-box;
}

/*GENERAL*/ 

html, body{
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
	text-transform: lowercase;
	height: 100%;
}
.loading{
	width: 100%;
	height: 100vh;
	background-color: white;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.container{
	width:90%;
	max-width:1400px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 15px;
}

/*PERSONALISED ENTRY*/


/*part 1: enter name*/

#flipEntry{
	height: 100vh;
}
.front{
  	background: url('../images/march2/places/cover.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: 100vh;
} 
.input-container {
	padding-top: 25px;
	position: relative;
	height: 45px;
	text-align: left;
}
.input-container textarea{
	padding-top: 25px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	color: white; 
	background-color: transparent;
	resize: none;
	border: 0px;
	font-size:45px;}

.input-container textarea:focus {
	outline: none;
}
.wrap{
	text-align: left;
	font-size: 45px;
	color: white;
}
.confirm{
	display: inline-block;
	border-bottom: solid white 1px;
  	color: white;
  	padding-bottom: 2px;
  	float: left;
  	opacity: 0;
  	font-size: 25px;
  	padding-top: 40px;
}

.btn-animated:focus {
  	outline: none;
}
.skip{
	text-align: left;
	display: inline-block;
	padding-right: 20px;
  	text-align: center;
  	color: white;
  	padding-bottom: 2px;
  	float: left;
  	font-size: 20px;
  	font-style: italic;
}
.btn-animated {
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  transition: all 0.4s ease;
  margin-top: 40px;
}
.btn-animated span {
  transition-duration: 0.4s;
}
.btn-animated .addArrow:after {
  content: '→';
  font-size: 25px;
  margin-left: 5px;
  opacity: 0;
  position: absolute;
  transition-duration: 0.4s;
}
.btn-animated:hover span:after {
	opacity: 1; 
}


/*part 2: personal page*/

.back{
	position:relative;
  	background: url('../images/march2/places/cover_copy.jpg') no-repeat center center;
	background-size: cover;
	font-size: 30px;
}
.personalEntry{
	padding-top: 25px;
}
.personalPic{
	position: absolute;
}
.personalEntry img{
	margin-top: 50px;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
	width: 100%;
	max-width: 900px;
}
.back button{
	width: 100%;
	display: inline-block;
	color: white;
}
.btn-animated:hover .colorStunning {
	color: #FFB6C1; 
}
.enter{
	display: inline-block;
	border-bottom: solid white 1px;
  	color: white;
  	padding-bottom: 2px;
  	float: left;
  	font-size: 25px;
}




/*HEADER*/ 

.flex-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	padding-top: 25px;
	z-index: 9999;
}
header h1{
	color: #222;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
nav{
	display: flex;
	align-items: center;
}
.flex-header ul{
	padding: 0;
	font-size: 13px;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-weight: 400;
    list-style: none;
}
.flex-header ul li{
	display: inline-block;
	padding-left:9px;
	padding-right:9px;
	text-align: center;
	position: relative;
}
.selected{
	font-weight: bold;
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
}
.not_selected{
	color:#999999;
}
.burger{
	display: none;
}




/*STYLING OF IMAGE PAGES*/ 
.card{
	margin-top: 20px;
	border: none;
}
div a:hover{
	color: black;
	text-decoration: none;
}
div a{
	color: black;
	text-decoration: none;
	text-align: center;
}
h2, footer{
	text-align: center;
	font-weight: 300;
	font-size: 12px;
}
.hide{
	display: none;
}
.img-thumbnail{
	margin: 5px;
	border: none;
	padding-left: 0px;
	padding-top: 15px;
}
.img-thumbnail:hover {
	cursor: pointer;
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 100%;
  height: 100%;
}
.hovereffect:hover img {
  filter: url('../images/june/people/6.jpg');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
.hovereffect h2 {
  text-transform: lowercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
.hovereffect:hover h2 {
  opacity: 1;
  transform: translate3d(0,0,0);
}
.card h2{
	font-size: 14px;
}
.card a:hover{
	cursor: pointer;
}
.nextUp{
	padding-top: 15px;
}


/*FORM*/

#ping{
  	background: url('../images/april/places/3-compressed.jpg') no-repeat center;
  	background-size: cover;
	color: black;
	height: 700px;
	margin-top: 20px;
}
#ping input, textarea{
	padding: 6px;
	border: solid 1px lightgrey;
	margin-top: 10px;
	min-width: 400px;
	max-width: 400px;
	display: inline-block;
	background-color: white;
}
#ping button{
	float: left;
	margin-bottom: 20px;
	border: round;
}


/*RESPONSIVENESS*/

@media ( max-width:767px ){
	nav{
		z-index: 999;
    	background-color: white;
		position: absolute;
		top: 85px;
		left: 0px;
		width: 100%;
		overflow: hidden;
		height: 40px;
	}
	.flex-header ul{
		margin: 0 auto;
		position: absolute;
		top: -40px;
		left: 0;
		width: 100%%;
		transition: top 0.4s;
		background-color: white;
		padding-left: 40px;
	}
	.flex-header ul li{
		text-align: center;
		padding: 0px 5px 20px;	
	}
	.burger{
		display: flex;
		align-items: center;
		font-size: 40px;
		cursor: pointer;
	}
	.open{
		left: 0px;
		top: 0px !important;
	}
}



/*FOOTER*/

footer{
	padding-top: 15px;
}
